body {
    margin: 0 auto;
    width: 850px;
    height: 100%;
    font-family: 'Kanit', sans-serif;
}
main {
    height: 450px;
    color:rgb(255, 255, 255);
    background-image: url(../img/galaxy.jpg);
    font-size: 50pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 12pt;
    display: flex;
    justify-content: left;
}
section {
    display: flex;
    justify-content: space-evenly;

}
article {
    font-size: 20pt;
    width: 270px;
    border: solid 20px rgb(224, 222, 222);
    height: 304px;
    background-color: rgb(224, 222, 222);
}