body {
    margin: 0 auto;
    width: 850px;
    height: 100%;
    font-family: 'Kanit', sans-serif;
}
main {
    height: 450px;
    color:rgb(255, 255, 255);
    background-image: url(./img/galaxy.jpg);
    font-size: 50pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 12pt;
    font-family: 'Cairo', sans-serif;
    display: flex;
    justify-content: left;
}
section {
    display: flex;
    justify-content: space-evenly;

}
article {
    font-size: 20pt;
    font-family: 'Kanit', sans-serif;
    width: 270px;
    border: solid 20px rgb(224, 222, 222);
    height: 304px;
    background-color: rgb(224, 222, 222);
}
form {
    font-size: 12pt;
    font-family: 'Cairo', sans-serif;
}
input.sendButton {
    background-color: #4D4D4D;
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000000;
}
a:visited {
  color: rgb(0, 0, 0);
}
a:hover, a:active, a:focus {
  color:#c33;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
main:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);